.body-container {
    padding: 40px 100px;
}

/*.all-container {*/
/*    min-height: 600px;*/
/*}*/

/*.all-container .layui-tab-content {*/
/*    padding: 30px 30px;*/
/*}*/

.iqrrl-route-tab.layui-tab-item {
    height: 650px;
    padding: 30px 30px;
}

.iqrrl-route-description-box {
    /*border: 1px dashed #000;*/
    width: 85%;
    margin: 100px auto 0;

}

.iqrrl-route-description-box .iqrrl-route-description-title {
    font-size: 30px;
}

.iqrrl-route-description-box .iqrrl-route-description-words {
    margin-top: 15px;
}

.iqrrl-route-description-box .iqrrl-route-description-words li {
    font-size: 17px;
    margin-top: 6px;
}

.iqrrl-route-btn-line {
    margin-top: 100px;
    height: 60px;
    /*border: 1px solid #000;*/
}

#iqrrl-route-simulate-btn {
    height: 60px;
    font-size: 18px;
    transition: 0.5s;
}

#iqrrl-route-simulate-btn:hover {
    transition: 0.5s;
    border-radius: 20px;
}

#iqrrl-route-simulate-btn i {
    line-height: 60px;
    font-size: 18px;
}

.iqrrl-route-clear-history {
    height: 60px;
}

.iqrrl-route-clear-history a {
    font-size: 10px;
    position: absolute;
    bottom: 0;
    left: 7px;
    cursor: pointer;
    color: #2F4056;
}

.iqrrl-route-clear-history a:hover {
    text-decoration: underline;
}

.iqrrl-route-topo-card, .iqrrl-route-info-card {
    /*min-height: 450px;*/
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2);
}

.iqrrl-route-topo-card .layui-card-body {
    height: 400px;
    position: relative;
}

.iqrrl-route-topo-card .not-start-hint {
    line-height: 400px;
    text-align: center;
    font-size: 25px;
    color: darkgray;
}

.iqrrl-route-topo-card .not-start-hint i {
    font-size: 25px;
}

.iqrrl-route-topo-card .iqrrl-route-content {
    display: none;
    border: 1px solid #000;
    height: 100%;
}

.iqrrl-route-topo-card .loading-hint {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    text-align: center;
    line-height: 420px; /*需要算上上下padding部分*/
}

.iqrrl-route-topo-card .loading-hint i {
    font-size: 50px;
}

.iqrrl-route-info-card .layui-card-body {
    min-height: 120px;
    position: relative;
}

.iqrrl-route-info-card .not-start-hint {
    line-height: 120px;
    font-size: 25px;
    text-align: center;
    color: darkgray;
}

.iqrrl-route-info-card .not-start-hint i {
    font-size: 25px;
}

.iqrrl-route-info-card .loading-hint {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    text-align: center;
    line-height: 140px; /*需要算上上下padding部分*/
    z-index: 99;
}

.iqrrl-route-info-card .loading-hint i {
    font-size: 50px;
    z-index: 99;
}

.iqrrl-route-info-card .iqrrl-info-table {
    display: none;
}
